body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    padding: 0px 0;
}

header img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

section {
    padding: 50px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
}


p, li {
    text-align: justify;
    margin-bottom: 10px; /* Adicione espaço entre os itens da lista */
}

ul {
    list-style: none;
}

#img-circulo-sec2 {
    width: 50%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer img {
    width: 100px;
    height: 100px;
}

iframe {
    width: 300px;
    height: 400px;
}

/* Estilos para links não visitados */
a {
    color: #0077cc;
    text-decoration: none;
}

/* Estilos para links visitados */
a:visited {
    color: #551a8b;
}

/* Estilos para links quando o mouse está sobre eles */
a:hover {
    color: #ff6600;
    text-decoration: underline;
}
