body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffcc; /* Amarelo predominante */
    text-align: center; /* Centralizar conteúdo */
}

header {
    background-color: #f9be1a; /* Amarelo para o cabeçalho */
    padding: 20px 0;
}

.logo {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

main {
    padding: 20px;
}

h1 {
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

.links {
    list-style-type: none;
    padding: 0;
}

.links li {
    margin-bottom: 10px;
}

.links li a {
    display: block;
    padding: 10px;
    border-radius: 20px; /* Fundo arredondado */
    background-color: #ffcc00; /* Amarelo */
    text-decoration: none; /* Remover formatação de link */
    color: black;
}

footer {
    background-color: #ffcc00; /* Amarelo para o rodapé */
    padding: 20px 0;
}

footer img {
    width: 50px;
}
.social-links {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin: 0 10px;
}
